
<template>
<div id="body">
  <h1 class="res">RESUME</h1>
  <div class="header">
    <h2 class="first">Eka Safitri</h2><br/>
    <p >I am a 6th semester student at the Indonesian Digital Technology University. 
      I follow an organization that is also engaged in technology, namely Informatics and Computers. <br/> <br/>
      Semester 5 yesterday, I also took part in an independent study in the Backend section of the Teacher Room using golang, html, css, tailwinds, and other languages. 
      Many friends supported and helped me at that time because I had wanted to give up because this field was very difficult for me.
    </p>
  </div>

  <div class="Experiences">
    <h1>Experiences</h1><br/>
    <ol>
      <li  v-for="(todo,  index) in todos" :key="todo.activity">
        <button
        @blur="blurrr"
        @click="setStatus(index)">{{todo.tahun}}</button>
        <p v-if="ind===index">{{todo.activity}}</p>  
      </li>
    </ol>
    
  </div>

  <div class="box">
    <h1>SKILL</h1>
    <ul>
      <li v-for="skills in skill" :key="skills.percent">
        <div class="lang">{{skills.lang}}</div>
        <div class="bar">
          <div class="progress" v-bind:style="{'background': skills.color, 'width':skills.percent+'%'}"></div>
          <span class="percent">{{skills.percent}}%</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="kontak">
    <form @submit.prevent="onSubmit">
      <h1>Contact Me</h1><br/>
      <h4>Name: {{ name }}</h4>
      <input 
      v-model="name"
      type="text" placeholder="Eka Safitri" ><br /><br />
      <h4>Email: {{ email }}</h4>
      <input v-model="email" type="email" placeholder="eka@gmail.com" ><br /><br />
      <h4>Message: {{ message }}</h4>
      <textarea v-model="message" placeholder="Tulis Pesan Anda Disini" ></textarea><br />
      <p v-if="hover">{{name}}</p>
      <button type="submit">submit</button>
    </form>
    
  </div>
</div>
</template>
<script >

  export default{
    data() {
      return {
        todos:[
          {tahun:'2014-2017', activity: 'Mempelajari pelajaran SMP'},
          {tahun:'2017-2020', activity: 'Mempelajari pelajaran SMA'},
          {tahun:'2020-Sekarang', activity: 'Menyesuaikan kondisi'}
        ],
        skill: [
            {lang:"HTML", percent:30, color:"green"},
            {lang:"CSS", percent:30, color:"green"},
            {lang:"Go", percent:40, color:"green"},
            {lang:"SQL", percent:50, color:"green"},
            {lang:"JavaScript", percent:10, color:"green"},
            {lang:"English", percent:20, color:"green"},
            {lang:"PHP", percent:30, color:"green"},
            {lang:"C++", percent:30, color:"green"},
            {lang:"Git", percent:40, color:"green"},
          ],
        status: true,
        name:"",
        email:"",
        message:"",
        hover: true,
        ind:null
        
      }
 
    },
    methods: {
      setStatus(a){
        this.ind = a
      },
      blurrr(){
        this.ind = null
      },
      onSubmit(){
        alert(`Hi ${this.name}, kamu mengirim ${this.message} ke ${this.email}`)
      },
      
    }
  }

</script>

<style>
.header{
  width: 700px;
  padding: 40px;
  margin: 50px auto;
  background:#f3f3f3;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
}
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.box{
  width: 700px;
  padding: 40px;
  margin: 50px auto;
  background:#f3f3f3;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
}

ul li{
  list-style-type:none;
  padding: 10px;
}

.lang{
  margin: 5px;
  font-size:20px;
}
 .bar{
  width:100%;
  background:#dfdfdf;
  overflow:hidden;
  padding: 5px;
 }

 .progress{
  float: left;
  padding:15px;
 }

 .percent{
  float: right;
  font-weight:600;
  height:30px;
  line-height:30px;
 }

 .Experiences{
  width: 700px;
  padding: 40px;
  margin: 50px auto;
  background:#f3f3f3;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
 }
 .kontak{
  width: 700px;
  padding: 40px;
  margin: 50px auto;
  margin-bottom: 20px;
  background:#f3f3f3;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
 }

 .res{
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom:5px;
 }

 #body{
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 100px;
  background-color: lightblue;
  padding-bottom: 50px;
 }
@media (min-width: 1024px) {
}
</style>
<!-- div{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 57px;
  background-color: lightblue;
} -->
